@model List<UserDTO>
@{
    ViewData["Title"] = "GetAllUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="box-header with-border">لیست کاربران | <a href="AddUser" class="btn btn-success btn-lg">افزودن کاربر</a></h1>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered" style="table-layout:auto;width:100%">
            <thead>
                <tr>
                    <th style="width: 10px">ردیف</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>شماره تلفن</th>
                    <th>ایمیل</th>
                    <th>ملیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@count</td>
                        <td>@item.FirstNamePersian</td>
                        <td>@item.LastNamePersian</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>@item.Nationality</td>
                        <td>
                            <button class="btn btn-info btn-sm">جزئیات</button> |
                            <button class="btn btn-danger btn-sm">حذف</button>|
                            <button class="btn btn-warning btn-sm">ویرایش</button>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
