@model UserDTO
@{
    ViewData["Title"] = "GetUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    اطلاعات کاربر |
    <a href="/Admin/Users/EditUser/@Model.Id" class="btn btn-info"> <i class="fa fa-pen"></i> ویرایش </a> |
    <a href="/Admin/Users/DeleteUser/@Model.Id" class="btn btn-danger"> <i class="fa fa-trash"></i> حذف </a> |
    <a href="/Admin/Users/GetAllUser" class="btn bg-navy"> <i class="fa fa-backward"></i> بازگشت </a>
</h1>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>شماره تلفن</th>
                    <td>@Model.PhoneNumber</td>
                </tr>
                <tr>
                    <th>ایمیل</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>نام فارسی</th>
                    @if (Model.FirstNamePersian == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.FirstNamePersian</td>
                    }
                    <th>نام خانوادگی فارسی</th>
                    @if (Model.LastNamePersian == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.LastNamePersian</td>
                    }
                </tr>
                <tr>
                    <th>نام انگلیسی</th>
                    @if (Model.FirstNameEnglish == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.FirstNameEnglish</td>
                    }
                    <th>نام خانوادگی انگلیسی</th>
                    @if (Model.LastNameEnglish == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.LastNameEnglish</td>
                    }
                </tr>
                <tr>
                    <th>ملیت</th>
                    @if (Model.NationalityId == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.NationalityId</td>
                    }
                    <th>کد ملی</th>
                    @if (Model.NationalityCode == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.NationalityCode</td>
                    }
                </tr>
                <tr>
                    <th>تاریخ تولد(شمسی)</th>
                    @if (Model.Birthdate == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.Birthdate.Value.ToShamsi()</td>
                    }
                    <th>تاریخ تولد(میلادی)</th>
                    @if (Model.Birthdate == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.Birthdate.Value.ToShortDateString()</td>
                    }
                </tr>
                <tr>
                    <th>جنسیت</th>
                    @if (Model.Gender == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.Gender</td>
                    }
                </tr>
                <tr>
                    <th>شماره پاسپورت</th>
                    @if (Model.PassportNumber == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.PassportNumber</td>
                    }
                </tr>
                <tr>
                    <th>تاریخ صدور پاسپورت</th>
                    @if (Model.PassportIssunaceDate == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.PassportIssunaceDate.Value.ToShortDateString()</td>
                    }
                </tr>
                <tr>
                    <th>تاریخ انقضای پاسپورت</th>
                    @if (Model.PassportExpirationDate == null)
                    {
                        <td class="text-danger">ثبت نشده</td>
                    }
                    else
                    {
                        <td>@Model.PassportExpirationDate.Value.ToShortDateString()</td>
                    }
                </tr>
                <tr>
                    <th>تاریخ عضویت</th>
                    <td>@Model.CreateDate.ToShamsi()</td>
                </tr>
            </tbody>
        </table>
        <br />
        <div class="col-xs-6">

        </div>
    </div>
</div>

