@model AgancyDTO
@{
    ViewData["Title"] = "GetAirplaneForAgancy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    لیست هواپیما های @Model.Name |
    <a href="/Admin/Agancies/GetAllAgancy" class="btn bg-navy"> <i class=" fa fa-backward"></i> بازگشت </a>
</h1>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered" style="table-layout:auto;width:100%">
            @if (Model.AirplaneDTOs.Count == 0)
            {
                <tr>
                    <td style="width:100%">
                        هواپیمایی موجود نیست
                    </td>
                </tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th style="width: 10px">ردیف</th>
                        <th>نام</th>
                        <th>برند</th>
                        <th>ظرفیت</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                    }


                    @foreach (var item in Model.AirplaneDTOs)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@item.Name</td>
                            <td>@item.Brand</td>
                            <td>@item.MaxCapacity</td>
                            <td>
                                <a href="/Admin/Airplanes/DeleteAirplane/@item.Id" class="btn btn-danger btn-sm"> <i class="fa fa-trash"></i> حذف </a>|
                                <a href="/Admin/Airplanes/EditAirplane/@item.Id" class="btn btn-warning btn-sm"> <i class="fa fa-pen"></i> ویرایش </a>
                            </td>
                        </tr>
                        count++;

                    }
                </tbody>
            }
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>

