@model TravelUpdateDTO
@{
    ViewData["Title"] = "EditTravel";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    ویرایش سفر |
    <a href="/Admin/Travels/GetAllTravel" class="btn bg-navy"> <i class="fa fa-backward"></i> بازگشت </a>
</h1>

<form method="post" class="box-body">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="SaledTicket" />
    <div class="row">
        <div class="col-xs-2">
            <label asp-for="OriginCountryId">کشور مبدا</label>
            <select class="form-control" asp-for="OriginCountryId" asp-items="@(ViewData["Countries"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="OriginCountryId"></span>
        </div>
        <div class="col-xs-2">
            <label asp-for="OriginCityId">شهر مبدا</label>
            <select class="form-control" asp-for="OriginCityId" asp-items="@(ViewData["Cities"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="OriginCityId"></span>
            <br />
        </div>
        <div class="col-xs-3">
            <label asp-for="OriginAirportId">فرودگاه مبدا</label>
            <select class="form-control" asp-for="OriginAirportId" asp-items="@(ViewData["Airports"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="OriginAirportId"></span>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label asp-for="DestinationCountryId">کشور مقصد</label>
            <select class="form-control" asp-for="DestinationCountryId" asp-items="@(ViewData["Countries"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="DestinationCountryId"></span>
        </div>
        <div class="col-xs-2">
            <label asp-for="DestinationCityId">شهر مقصد</label>
            <select class="form-control" asp-for="DestinationCityId" asp-items="@(ViewData["Cities"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="DestinationCityId"></span>
            <br />
        </div>
        <div class="col-xs-3">
            <label asp-for="DestinationAirportId">فرودگاه مقصد</label>
            <select class="form-control" asp-for="DestinationAirportId" asp-items="@(ViewData["Airports"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="DestinationAirportId"></span>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label asp-for="AgancyId">آژانس هواپیمایی</label>
            <select class="form-control" asp-for="AgancyId" asp-items="@(ViewData["Agancies"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="AgancyId"></span>
            <br />
        </div>
        <div class="col-xs-2">
            <label asp-for="AirplaneId">هواپیما</label>
            <select class="form-control" asp-for="AirplaneId" asp-items="@(ViewData["Airplanes"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="AirplaneId"></span>
            <br />
        </div>
        <div class="col-xs-2">
            <label asp-for="Class">کلاس پرواز</label>
            <select class="form-control" asp-for="Class" asp-items="@(ViewData["Classes"] as SelectList)"></select>
            <span class="text-danger" asp-validation-for="Class"></span>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label asp-for="MaxCapacity">حداکثر ظرفیت(نفر)</label>
            <input type="number" class="form-control" asp-for="MaxCapacity">
            <span class="text-danger" asp-validation-for="MaxCapacity"></span>
            <br />
        </div>
        <div class="col-xs-2">
            <label asp-for="Price">قیمت بلیط(بزرگسال(تومان))</label>
            <input type="number" class="form-control" asp-for="Price">
            <span class="text-danger" asp-validation-for="Price"></span>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label asp-for="MovingTime">ساعت پرواز</label>
            <input type="time" class="form-control" asp-for="MovingTime">
            <span class="text-danger" asp-validation-for="MovingTime"></span>
            <br />
        </div>
        <div class="col-xs-2">
            <label asp-for="MovingDate">تاریخ پرواز</label>
            <input type="date" class="form-control" asp-for="MovingDate">
            <span class="text-danger" asp-validation-for="MovingDate"></span>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label asp-for="ArrivingTime">ساعت رسیدن به مقصد</label>
            <input type="time" class="form-control" asp-for="ArrivingTime">
            <span class="text-danger" asp-validation-for="ArrivingTime"></span>
            <br />
        </div>
        <div class="col-xs-2">
            <label asp-for="ArrivingDate">تاریخ رسیدن به مقصد</label>
            <input type="date" class="form-control" asp-for="ArrivingDate">
            <span class="text-danger" asp-validation-for="ArrivingDate"></span>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button type="submit" class=" btn btn-success btn-lg btn-block"> <i class="fa fa-check"></i> ثبت </button>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        $("#OriginCountryId").change(function () {
            $("#OriginCityId").empty();
            $.getJSON("/admin/travels/GetCities/" + $("#OriginCountryId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#OriginCityId").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });

        $("#OriginCityId").change(function () {
            $("#OriginAirportId").empty();
            $.getJSON("/admin/travels/GetAirports/" + $("#OriginCityId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#OriginAirportId").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });

        $("#DestinationCountryId").change(function () {
            $("#DestinationCityId").empty();
            $.getJSON("/admin/travels/GetCities/" + $("#DestinationCountryId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#DestinationCityId").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });

        $("#DestinationCityId").change(function () {
            $("#DestinationAirportId").empty();
            $.getJSON("/admin/travels/GetAirports/" + $("#DestinationCityId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#DestinationAirportId").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });

        $("#AgancyId").change(function () {
            $("#AirplaneId").empty();
            $.getJSON("/admin/travels/GetAirplanes/" + $("#AgancyId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#AirplaneId").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });
    </script>
}

