@model TravelDTO
@{
    ViewData["Title"] = "GetTravelInfo";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="box-header with-border">
    اطلاعات پرواز |
    <a href="/Admin/Travels/EditTravel/@Model.Id" class="btn btn-info"> <i class="fa fa-pen"></i> ویرایش </a> |
    <a href="/Admin/Travels/DeleteTravel/@Model.Id" class="btn btn-danger"> <i class="fa fa-trash"></i> حذف </a> |
    <a href="/Admin/Travels/GetAllTravel" class="btn bg-navy"> <i class="fa fa-backward"></i> بازگشت </a>
</h1>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>حداکثر ظرفیت</th>
                    <td>@Model.MaxCapacity</td>
                </tr>
                <tr>
                    <th>بلیط های فروش رفته</th>
                    <td>@Model.SoldTicket</td>
                    <th>قیمت بلیط بزرگسال(تومان)</th>
                    <td>@Model.Price.ToString("N0")</td>
                </tr>
                <tr>
                    <th>آژانس هواپیمایی</th>
                    <td>@Model.AgancyName</td>
                    <th>هواپیما</th>
                    <td>@Model.AirplaneName</td>
                </tr>
                <tr>
                    <th>شهر مبدا</th>
                    <td>@Model.OriginCityName</td>
                    <th>فرودگاه مبدا</th>
                    <td>@Model.OriginAirportName</td>
                </tr>
                <tr>
                    <th>شهر مقصد</th>
                    <td>@Model.DestinationCityName</td>
                    <th>فرودگاه مقصد</th>
                    <td>@Model.DestinationAirportName</td>
                </tr>
                <tr>
                    <th>تاریخ حرکت</th>
                    <td>@Model.MovingDate.ToShamsi()</td>
                    <th>زمان حرکت</th>
                    <td>@Model.MovingTime.ToString("HH:mm")</td>
                </tr>
                <tr>
                    <th>تاریخ رسیدن به مقصد</th>
                    <td>@Model.ArrivingDate.ToShamsi()</td>
                    <th>زمان رسیدن به مقصد</th>
                    <td>@Model.ArrivingTime.ToString("HH:mm")</td>
                </tr>
                <tr>
                    <th>نوع پرواز</th>
                    <td>@Model.Type</td>
                    <th>کلاس پرواز</th>
                    <td>@Model.Class</td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>

